<!-- <ion-header>
  <ion-toolbar>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-slides pager="true">
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="../../../assets/imgs/modeste.ima.jpg"/>
            </ion-col>
          </ion-row>
        </ion-slide>
    
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="../../../assets/imgs/Untitled.modeste im.jpg" />
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="../../../assets/imgs/modeste.img.jpg" />
              <ion-button color="danger" class="bouton_position" href="/login">Démarrer</ion-button>
            </ion-col>
          </ion-row>
        </ion-slide>
        
      </ion-slides>

</ion-content>
