ion-content{
    background-color: #f5ebeb;
    font-family: fantasy;
}

ion-item {
    
    border-bottom: 1px solid grey !important;
}

ion-label {
    font-family: monospace;
}

ion-text{
    font-family: fantasy;
    font-style: italic;
    font-size: small;
}

p{
    background-color: #fff;
}

.modeste{
    
    background-color: rgba(9, 45, 122, 0.842);
}
