<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="undo"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Livreur</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >
    <ion-card *ngFor="let plats of data?.data">
      <ion-item>
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-title>{{plats.nom_client}}</ion-title>
        <ion-button fill="outline" slot="end" (click)="openModal(plats.id_order)"><ion-icon name="print"></ion-icon></ion-button>
        <ion-button fill="outline" slot="end" (click)="opendetail(plats.id_order)"><ion-icon name="print"></ion-icon></ion-button>
      </ion-item>
    
      <ion-card-content>
        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label>{{plats.total_paye}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="time" slot="start"></ion-icon>
            <ion-label>{{plats.date_add}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>{{plats.state_name}}</ion-label>
      </ion-item>
        <ion-item class="activated">
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-label>Etat de Livraison: {{plats.livreur}}</ion-label>
          <ion-toggle  [(ngModel)]="toggleStatus" pulsado checked="false" (ionChange)="Change_Toggle();" ></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
        <!-- <h1 *ngFor="let dat of data?.data">
          {{dat.nom_client}}
        </h1> -->
  
    
    
</ion-content>

<ion-footer >
    <ion-toolbar color="danger">
        <ion-title></ion-title>
    </ion-toolbar>
</ion-footer>