<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="undo"></ion-icon>
        log out
      </ion-button>
    </ion-buttons>
    <ion-title text-center>ACCUEIL</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >
    <ion-card *ngFor="let plats of data?.data">
      <ion-item>
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-title>{{plats.nom_client}}</ion-title>
        <ion-button fill="outline" slot="end" (click)="opendetail(plats.id_order)"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-item>
    
      <ion-card-content>
        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label>{{plats.total_paye}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="time" slot="start"></ion-icon>
            <ion-label>{{plats.date_add}}</ion-label>
        </ion-item>
        <!-- <ion-item>
            <ion-icon name="bicycle" slot="start"></ion-icon>
            <ion-label>{{plats.date_livraison_prevue}} -- {{plats.heure_livraison_prevue}}</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>{{plats.state_name}}</ion-label>
      </ion-item>
        <ion-item class="activated">
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-label>{{plats.state_code}}</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    
</ion-content>

<ion-footer >
    <ion-toolbar color="danger">
        <ion-title></ion-title>
    </ion-toolbar>
</ion-footer>